@charset "utf-8";
 
:root {
    --color-primary: #262626;
    --color-secondary:#fff;
}
.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    font-family: 'Arial', sans-serif;
    color: white;
}
main {
    height: calc(100vh - 180px);
    display: flex;
    align-items: center;
    justify-content: center;
}
#clock {
    font-size: 100px;
    margin-bottom: 15px; 
}

#alarm-set {
    font-size: 16px; /* Smaller font for the alarm set text */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px; /* Space between alarm set display and form */
}

#alarm-set i {
    margin-right: 5px; /* Space between bell icon and text */
}

#alarm-form {
    display: flex;
    gap: 10px;
    align-items: center;
}

#alarm-form input {
    background: none;
    border: 2px solid #555;
    border-radius: 15px;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    width: 60px; /* Fixed width */
    text-align: center;
}

#alarm-form input::placeholder {
    color: #aaa;
}

#alarm-form button {
    background-color: #28a745;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#alarm-form button:hover {
    background-color: #218838;
}

#alarm-form button:active {
    background-color: #1e7e34;
}